# ===========================================================
# Node / PNPM
# ===========================================================
node_modules/
pnpm-lock.yaml

# ===========================================================
# Build output
# ===========================================================
dist/
build/
.next/
out/
coverage/

# Turbo / Vercel / Metro caches
.turbo/
.cache/
.expo/
expo-build/
fastlane/
android/app/build/
ios/Pods/
ios/build/

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
debug.log
*.log

# Editor / OS files
.DS_Store
Thumbs.db
*.swp
*.swo

# TypeScript
*.tsbuildinfo

# Environment Variables
.env
.env.*
!.env.example

# Next.js special
.next/
.vercel/

# Linux / macOS junk
*.tmp
*.bak
*.lock

# Package-specific
apps/*/node_modules/
packages/*/node_modules/

# JetBrains / VSCode
.vscode/
.idea/

# Optional: lock dependency versions
# If you DO want to commit lockfile, remove this (recommended for production)

#logs
apps/backend/logs

# ===========================================================
# Mobile Native (iOS / Android)
# ===========================================================

# Xcode
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# Android/IntelliJ
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Metro
.metro-health-check*